<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" >

    <title>Projet TLS</title>
  </head>
  {% block content %}
  <body class="container">
    <h1 class="display-4 text-center">Projet&nbsp;-&nbsp;TLS</h1>
    <div class="container">
        <form method="POST" action="/">
            <div class="form-group form-row">
                <div class="col-md-4 mb-4">
                    <select class="custom-select" name="client" id="client" required>
                      <option selected disabled value="">Client ...</option>
                      {% for client in version %}
                        <option value="{{client}}" > Client {{client}}</option>
                      {% endfor %}
                    </select>
                    <div class="invalid-tooltip">
                        selectionner un client
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <select class="custom-select" name="serveur" id="serveur" required>
                      <option selected disabled value="">Serveur ...</option>
                      {% for client in version %}
                        <option value="{{client}}" > Serveur {{client}}</option>
                      {% endfor %}
                    </select>
                    <div class="invalid-tooltip">
                      Selectionner un Serveur
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <button class="btn btn-primary" type="submit">Lancer</button>
                </div>
            </div>
        </form>


    </div>
    <div>
        <div class="row">
            <div class="col-md-4 mb-4" >
                Client : {{ client }}
            </div> 
            <div class="col-md-4 mb-4" >
                Serveur : {{server}}
            </div>
        </div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" class="text-center align-middle">Version TLS</th>
                <th scope="col" class="text-left align-middle">Cipher - Logs</th>
                <th scope="col" class="text-center align-middle">Capture Originale</th>
                <th scope="col" class="text-center align-middle">Capture Déchiffrée</th>
                <th scope="col" class="text-center align-middle">Secret TLS</th>
              </tr>
            </thead>
            <tbody>
                
                {% for tls in tls_version %}

                    <tr>
                        {% if tls == '1' %}
                            <th scope="row" class="text-center align-middle">TLS {{tls}}.0 </th>
                        {% else %}
                            <th scope="row" class="text-center align-middle">TLS {{tls}} </th>
                        {% endif %}
                        <!-- Block pour afficher les chiphers -->
                        <td class="text-left align-middle">
                        {% for cipher in data[loop.index - 1] %}
                            {% if cipher["RESULT"] == 1 %}
                                <a href="/uploads/{{ cipher['LOG'] }}"><small><span class="d-block text-success">{{ cipher['CIPHER'] }}</span></small></a>
                            {% else %}
                                <a href="/uploads/{{ cipher['LOG'] }}"><small><span class="d-block text-danger">{{ cipher['CIPHER'] }}</span></small></a>
                            {% endif %} 
                        {% endfor %}
                        </td>
                        
                        <td class="text-center align-middle">
                        {% for cipher in data[loop.index - 1] %}
                                <a href="/uploads/{{ cipher['OR_CAPT']}}"><small><span class="d-block text-info">Télécharger</span></small></a>
                        {% endfor %}
                        </td>
                        <td class="text-center align-middle">
                            {% for cipher in data[loop.index - 1] %}
                                {% if cipher["RESULT"] == 1 %}
                                    <a href="/uploads/{{ cipher['DCRYPT_CAPT']}}"><small><span class="d-block text-info">Télécharger</span></small></a>
                                {% else %}
                                    <small><span class="d-block text-info">X</span></small>
                                {% endif %} 
                            {% endfor %}
                        </td>
                        <td class="text-center align-middle">
                            {% for cipher in data[loop.index - 1] %}
                                {% if cipher["RESULT"] == 1 %}
                                    <a href="/uploads/{{ cipher['TLS_SECRET']}}"><small><span class="d-block text-info">Télécharger</span></small></a>
                                {% else %}
                                    <small><span class="d-block text-info">X</span></small>
                                {% endif %} 
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
               
            </tbody>
          </table>
    </div>

    
  </body>
</html>
{% endblock %}